// 浮动
.ppv-pull-right {float: right;}
.ppv-pull-left {float: left;}

// 边距
@for $i from 0 through 6 {
  .ppv-m-#{$i} { margin: $spacer * $i !important; }
  .ppv-mt-#{$i} { margin-top: $spacer * $i !important; }
  .ppv-mr-#{$i} { margin-right: $spacer * $i !important; }
  .ppv-mb-#{$i} { margin-bottom: $spacer * $i !important; }
  .ppv-ml-#{$i} { margin-left: $spacer * $i !important; }
  .ppv-p-#{$i} { padding: $spacer * $i !important; }
  .ppv-pt-#{$i} { padding-top: $spacer * $i !important; }
  .ppv-pr-#{$i} { padding-right: $spacer * $i !important; }
  .ppv-pb-#{$i} { padding-bottom: $spacer * $i !important; }
  .ppv-pl-#{$i} { padding-left: $spacer * $i !important; }
}

// 文字颜色
.ppv-text-primary{color: $--color-primary !important; }
.ppv-text-success{color: $--color-success !important; }
.ppv-text-warning{color: $--color-warning !important; }
.ppv-text-danger{color: $--color-danger !important; }
.ppv-text-info{color: $--color-info !important; }

/// 文字方向
.ppv-text-left{text-align: left !important;}
.ppv-text-center{text-align: center !important;}
.ppv-text-right{text-align: right !important;}

// 文字益出
.ppv-text-overflow[rows="1"]{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@for $i from 2 through 5 {
  .ppv-text-overflow[rows="#{$i}"]{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $i;
  }
}

// 图片hover缩放效果
.ppv-hover-scale{
  [data-hover="wrapper"]{
    overflow: hidden;
  }
  [data-hover="img"]{
    transition: transform .3s ease-in-out;
  }
  &:hover{
    [data-hover="img"]{
      transform: scale(1.05);
    }
  }
}